<!DOCTYPE html>
<html>
  <head>
    <title>StartPage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet"> 
  </head>

  <body class="container mx-auto sm:px-6 lg:px-8 bg-gradient-to-b from-gray-900 via-purple-900 to-violet-600 min-h-screen">
    <%= yield %>
  </body>
</html>
